/*body {
	text-align:center;
font-family: 'Amatic SC', cursive;
background-color: mistyrose
}
#title{
	font-size:3.5em;
	letter-spacing: 10px
	text-align:center;
	text-shadow: 2px 2px gray;
	border-top-right-radius: 20px
	border-top-left-radius:20px;
	background-color: snow
}

#image{
	margin-top:100px;
	border:black 3px solid;
	box-shadow: 15px 8px 8px  #b3446c;
}
.top_nav_item {
	margin:10px;
	color:#a196bd;
	font-size:1.6em;
	text-decoration:none
}
.top_nav_item {
	margin: 10px
	color:#a196bd;
	text-decoration: none
}
.b {
	text-align: right
}*/